/* Keep images sized correctly */
img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 100%;
}

.vector {
  width: 200px;
}

@font-face {
  font-family: "NunitoSans_Black";
  src: url("../fonts/NunitoSans-Black.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_BlackItalic";
  src: url("../fonts/NunitoSans-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_Bold";
  src: url("../fonts/NunitoSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_BoldItalic";
  src: url("../fonts/NunitoSans-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_ExtraBold";
  src: url("../fonts/NunitoSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_ExtraBoldItalic";
  src: url("../fonts/NunitoSans-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_ExtraLight";
  src: url("../fonts/NunitoSans-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_ExtraLightItalic";
  src: url("../fonts/NunitoSans-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_Italic";
  src: url("../fonts/NunitoSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_Light";
  src: url("../fonts/NunitoSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_LightItalic";
  src: url("../fonts/NunitoSans-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_Regular";
  src: url("../fonts/NunitoSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_SemiBold";
  src: url("../fonts/NunitoSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_SemiBoldItalic";
  src: url("../fonts/NunitoSans-SemiBoldItalic.ttf") format("truetype");
}
a {
  color: #424242;
  text-decoration: none;
}

main {
  margin: 0 auto;
}

section {
  display: flex;
  flex-flow: row wrap;
}

.container {
  display: flex;
  flex-flow: column wrap;
  flex-direction: column;
}

.full-width-container {
  height: 103vh;
  width: 103wh;
}

.color-splash-bckd {
  background-image: url("../assets/desktop-splash.svg");
  background-size: cover;
}
@media (max-width: 700px) {
  .color-splash-bckd {
    background-image: url("../assets/small-screen-splash.svg");
  }
}

.chunk {
  flex: 1;
}

.chunk_2 {
  flex: 2;
}

.chunk_3 {
  flex: 3;
}

@media (max-width: 700px) {
  article {
    flex: 1;
  }

  aside {
    flex: 1;
  }
}
.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  justify-content: space-between;
}

.brand {
  font-size: 1.25em;
  font-family: NunitoSans_Bold;
  display: inline-block;
  margin: 2rem;
}
@media (max-width: 700px) {
  .brand {
    font-size: 0.8em;
  }
}

.menu {
  text-align: right;
  margin: 0.5rem;
}

.menu-item {
  font-family: NunitoSans_SemiBold;
  text-align: center;
  list-style-type: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.5rem;
  align-items: bottom;
}
@media (max-width: 700px) {
  .menu-item {
    font-size: 0.75em;
    margin: 0.25rem;
  }
}

.hero {
  align-items: center;
}

@media (max-width: 700px) {
  .menu-icon {
    display: none;
    padding: 20px;
  }
}
.hero-svg {
  width: 20rem;
  height: auto;
  margin-bottom: 75px;
}
@media (max-width: 700px) {
  .hero-svg {
    width: 8.5em;
    margin-bottom: 1em;
  }
}

.orange-slice {
  width: 10%;
  height: auto;
}

.scroll-arrow {
  width: 5%;
  height: auto;
  margin-top: 2rem;
}

.hero-content {
  align-items: center;
}

/*# sourceMappingURL=mainStyle.css.map */
