@font-face {
  font-family: "NunitoSans_Black";
  src: url("../fonts/NunitoSans-Black.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_BlackItalic";
  src: url("../fonts/NunitoSans-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_Bold";
  src: url("../fonts/NunitoSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_BoldItalic";
  src: url("../fonts/NunitoSans-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_ExtraBold";
  src: url("../fonts/NunitoSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_ExtraBoldItalic";
  src: url("../fonts/NunitoSans-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_ExtraLight";
  src: url("../fonts/NunitoSans-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_ExtraLightItalic";
  src: url("../fonts/NunitoSans-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_Italic";
  src: url("../fonts/NunitoSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_Light";
  src: url("../fonts/NunitoSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_LightItalic";
  src: url("../fonts/NunitoSans-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_Regular";
  src: url("../fonts/NunitoSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_SemiBold";
  src: url("../fonts/NunitoSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans_SemiBoldItalic";
  src: url("../fonts/NunitoSans-SemiBoldItalic.ttf") format("truetype");
}
/* Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary {
    width: 67%;
  }

  #secondary {
    width: 30%;
    margin-left: 3%;
  }
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary {
    width: 100%;
  }

  #secondary {
    width: 100%;
    margin: 0;
    border: none;
  }
}
/* Keep images sized correctly */
img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 100%;
  background-color: white;
}

svg {
  width: 20em;
}

.nav-link {
  color: black;
}

.navbar-brand {
  font-family: NunitoSans_Bold;
  color: black;
}

.hero-greeting {
  height: auto;
  width: 60%;
}

.my-wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
}

.object-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: none;
  justify-content: center;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-0.001px) scale(2);
  background-size: 100%;
  z-index: -1;
  background-color: white;
}

.sticks-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 75%;
}

.sticks-animation div {
  /*position: absolute;*/
  width: 64px;
  height: 128px;
  border: 2px solid #000000;
  background-color: #FFFFFF;
}

/*# sourceMappingURL=mainStyle.css.map */
