
/* Flex Classes */
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
}

/* Semantic Classes */
body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}

header {
	justify-content: space-between;
	align-items: center;
	padding: 2em 0 0 0;
}

header * {
	margin: 0 1.25em 0 1.25em;
}

main {
	align-items: left;
	justify-content: center;
	margin: 1em 2em 0 2em;
	text-align: left;
}

nav * {
	margin: 0 0 0 1em;
}

h1 {
	font-weight: 700;
	font-size: 1.5em;
	color: #54634B;
}

h2 {
	font-size: 1.5em;
	color: #292929;
}

footer {
	background: black;
	justify-content: center;
	bottom: 0;
}

/* Other Classes */
.button {
	color: white;
	background: #292929;
	text-decoration: none;
	border: none;
	padding: 1em 2em 1em 2em;
	border-radius: 0.75em;
	font-weight: 600;
}

.hero {
	justify-content: center;
	margin-top: 3em;
}
/* Small Screens */
@media screen and (max-width: 800px) {
  .hero {
	margin-top: 0.5em;
  }
}

.hero-img {
	max-width: 35%;
	background-repeat: no-repeat;
	background-size: contain;
}

/* Small Screens */
@media screen and (max-width: 800px) {
  .hero-img {
	max-width: 55%;
  }
}

.hero-info {
	max-width: 50%;
	margin: 3em 0 0 3em;
}
/* Small Screens */
@media screen and (max-width: 800px) {
  .hero-info {
	max-width: 90%;
	margin: 0 0 0 0;
  }
}

.hero-more-info {
	margin-top: 3em;
}

.hero-more-info * {
	margin-right: 1em;
}

.link {
	text-decoration: none;
	color: #54634B;
	font-weight: 500;
}

.project-description {
	margin-top: 2em;
}

/* Hover Behavior */

.link:hover {
	text-decoration: underline;
}
