
/* Flex Classes */
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
}

/* Semantic Classes */
body {
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	font-family: 'Inter', sans-serif;
}

header {
	justify-content: space-between;
	align-items: center;
	padding: 1em 0 1em 0;
	position: fixed;
	background: white;
}

header * {
	margin: 0 1.25em 0 1.25em;
}

main {
	align-items: left;
	justify-content: center;
	/* margin: 1em 2em 0 2em; */
	text-align: left;
}

nav * {
	margin: 0 0 0 1em;
}

h1 {
	font-weight: 700;
	font-size: 1.5em;
	color: #54634B;
}

h2 {
	font-size: 2em;
	color: #292929;
}

footer {
	background: black;
	justify-content: center;
	bottom: 0;
}

/* Other Classes */
.button {
	color: white;
	background: #292929;
	text-decoration: none;
	border: none;
	padding: 0.75em 2em 0.75em 2em;
	border-radius: 0.75em;
	font-weight: 600;
}

.info {
	max-height: 30%;
	background: white;
	margin-top: 5em;
	justify-content: space-around;
}

.info p {
	width: 20em;
	font-weight: 400;
}

.social {
	justify-content: space-between;
	max-width: 6em;	
}

.projects {
	margin-top: 2em;
}

.project-gray {
	background: #292929;
	justify-content: center;
	padding: 3em 0 3em 0;
}

.project-gray h2 {
	color: white;
}

.project-gray .button {
	background: white;
	color: #292929;
}

.project-gray .project-description {
	color: white;
}

.project-img {
	max-width: 35%;
}
/* Small Screens */
@media screen and (max-width: 600px) {
  .project-img {
	max-width: 55%;
  }
}

.project-info {
	max-width: 50%;
	margin-left: 2em;
}

/* Small Screens */
@media screen and (max-width: 700px) {
  .project-info {
	max-width: 75%;
  }
}

.link {
	text-decoration: none;
	color: #54634B;
	font-weight: 500;
}

.project-description {
	margin-bottom: 2em;
}


/* Hover Behavior */

.link:hover {
	text-decoration: underline;
}
