// _fonts.scss

// Nunito Sans Black
@font-face {
  font-family: 'NunitoSans_Black';
  src: url('../fonts/NunitoSans-Black.ttf') format('truetype');
}

// Nunito Sans BlackItalic
@font-face {
  font-family: 'NunitoSans_BlackItalic';
  src: url('../fonts/NunitoSans-BlackItalic.ttf') format('truetype');
}

// Nunito Sans Bold
@font-face {
  font-family: 'NunitoSans_Bold';
  src: url('../fonts/NunitoSans-Bold.ttf') format('truetype');
}

// Nunito Sans BoldItalic
@font-face {
  font-family: 'NunitoSans_BoldItalic';
  src: url('../fonts/NunitoSans-BoldItalicttf') format('truetype');
}

// Nunito Sans ExtraBold
@font-face {
  font-family: 'NunitoSans_ExtraBold';
  src: url('../fonts/NunitoSans-ExtraBold.ttf') format('truetype');
}

// Nunito Sans ExtraBoldItalic
@font-face {
  font-family: 'NunitoSans_ExtraBoldItalic';
  src: url('../fonts/NunitoSans-ExtraBoldItalic.ttf') format('truetype');
}

// Nunito Sans ExtraLight
@font-face {
  font-family: 'NunitoSans_ExtraLight';
  src: url('../fonts/NunitoSans-ExtraLight.ttf') format('truetype');
}

// Nunito Sans ExtraLightItalic
@font-face {
  font-family: 'NunitoSans_ExtraLightItalic';
  src: url('../fonts/NunitoSans-ExtraLightItalic.ttf') format('truetype');
}

// Nunito Sans Italic
@font-face {
  font-family: 'NunitoSans_Italic';
  src: url('../fonts/NunitoSans-Italic.ttf') format('truetype');
}

// Nunito Sans Light
@font-face {
  font-family: 'NunitoSans_Light';
  src: url('../fonts/NunitoSans-Light.ttf') format('truetype');
}

// Nunito Sans LightItalic
@font-face {
  font-family: 'NunitoSans_LightItalic';
  src: url('../fonts/NunitoSans-LightItalic.ttf') format('truetype');
}

// Nunito Sans Regular
@font-face {
  font-family: 'NunitoSans_Regular';
  src: url('../fonts/NunitoSans-Regular.ttf') format('truetype');
}

// Nunito Sans SemiBold
@font-face {
  font-family: 'NunitoSans_SemiBold';
  src: url('../fonts/NunitoSans-SemiBold.ttf') format('truetype');
}

// Nunito Sans SemiBoldItalic
@font-face {
  font-family: 'NunitoSans_SemiBoldItalic';
  src: url('../fonts/NunitoSans-SemiBoldItalic.ttf') format('truetype');
}
