// header

main {
  margin: 0 auto;
}

// section aligns columns of items
section {
  display: flex;
  flex-flow: row wrap;
}

// container aligns rows of items
.container {
  display: flex;
  flex-flow: column wrap;
  flex-direction: column;
  height: 101vh;
  width: 101wh;
}

.color-splash-bckd {
  background-image: url('../assets/color-splash-bckd.svg');
  background-size: cover;
}

// columns go in rows
.column {
  flex: 1;
}

@include small-screens {
  article {
    flex: 1;
  }
  aside {
    flex: 1;
  }
}
