// header

main {
  margin: 0 auto;
}

// section aligns multiple columns
section {
  display: flex;
  flex-flow: row wrap;
}

// container aligns multiple rows
.container {
  display: flex;
  flex-flow: column wrap;
  flex-direction: column;
}

.full-width-container {
  height: 103vh;
  width: 103wh;
}

.color-splash-bckd {
  background-image: url('../assets/desktop-splash.svg');
  background-size: cover;
  @include small-screens {
    background-image: url('../assets/small-screen-splash.svg');
  }
}

// fill full width of columns and rows
.chunk {
  flex: 1; // full length
}

.chunk_2 {
  flex: 2; // most length
}

.chunk_3 {
  flex: 3;
}

@include small-screens {
  article {
    flex: 1;
  }
  aside {
    flex: 1;
  }
}
