// main.scss

// imports
@import './_colors.scss';
@import './_fonts.scss';

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

/* Keep images sized correctly */
img { max-width: 100%; height: auto; }

html { font-size:100%; background-color: white; }

svg {
  width: 20em;
}
.nav-link {
  color: black;
}

.nav-item {
  font-family:  NunitoSans_Regular;
}

.navbar-brand {
  font-family: NunitoSans_Bold;
  color: black;
}

.hero-greeting {
  height: auto;
  width: 60%;
}

#app {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(2);
  background-size: 100%;
  z-index: -1;
  background-color: white;
}

// .sticks-animation {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: auto;
//   height: 75%;
// }

.forefront-parallax {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(1px) scale(2);
  background-size: 100%;
  z-index: -1;
  background-color: white;
}

// .sticks-animation div {
//   /*position: absolute;*/
//   // width: 64px;
//   // height: 128px;
//   width: 10%;
//   height: 15%;
//   border: 2px solid #000000;
//   background-color: #FFFFFF;
// }

.landing-animation {

  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 95%;

  .landing-animation-el {
    width: 5%;
    height: 15%;
    border: 1px solid #000000;
    background-color: white;
  }
}
